.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url('/background.jpg') center no-repeat;
  background-size: cover;

}

.hero-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
  color: #cbd5f5;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 1.5rem;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 3.75rem;
  }
}

.hero-subtitle {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .hero-subtitle {
    font-size: 1.5rem;
  }
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #B9540C;
  color: white;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #67331E;

}
