<div class="hero">
  <div class="hero-center">
    <div class="hero-content">
      <h1 class="hero-title">
        Welcome to Game of Thrones world
      </h1>

      <p class="hero-subtitle">
        Here you will find information about all the characters, houses and books of the Game of Thrones universe. Explore the rich lore and discover your favorite characters and houses!
      </p>

      <a routerLink="/houses" class="hero-button">
        Houses list
      </a>
    </div>
  </div>
</div>